extends layout

block content
	.fixbar
		.innerbar
			h1 
				a(href='/')
					img(src="/images/logo.png")
			-if(con==0)
				ul.login
					li(onclick="login('login_box')") 登入
					li(onclick="login('register_box')") 註冊
					li
						a(href='/forum') 討論區
			-else if(con==1)
				ul.login#login
					li
						a(href='/logout') 登出
					li 	
						a(href='/')= nickname
					li
						a(href="/forum") 討論區
			.clear
	.buildingframe#buildingframe
		.buildingtop#buildingtop
			img(src='/images/forum_skill.png')
			span 技術討論區
		.buildingleft#buildingleft
			span 揪團區
			img(src='/images/forum_play.png')
		.buildingright#buildingright
			span 疑難雜症區
			img(src='/images/forum_problem.png')
		.people
			img(src='/images/forum_people.png')
	.footer
		.innerfooter
			span.footertext 高雄大學資管系 	Web前端課程  期末專題    僅供教育用途
		include login_register
block scripts
	script(src='/javascripts/login.js')
	script(src='/javascripts/register.js')