<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AOFE 討論區</title>
	<link rel="stylesheet" href="css/all.css">
	<link rel="stylesheet" href="css/forum_son.css">
	<script src="js/jquery-1.11.1.js"></script>
	<script src="js/forum.js"></script>
</head>
<body>
	<div class="fixbar">
		<div class="innerbar">
			<h1><a href="#"><img src="img/logo-xmas.png"></a></h1>
			<ul class="login">
				<li><a href='#'>登入</a></li>
				<li><a href='#'>註冊</a></li>
				<li><a href='forum.html'>討論區</a></li>		
			</ul>
			<div class="clear"></div>
		</div>
	</div>
	<div class='form'>
		<ul>
			<li class="number">編號</li>
			<li class="comment">留言</li>
			<li class="subject">主題</li>
			<li class="author">作者</li>
			<li class="data">日期</li>
		</ul>
		<ul>
			<li class="number">1</li>
			<li class="comment">23</li>
			<li class="subject">測試留言</li>
			<li class="author">Apple</li>
			<li class="data">2015/1/6</li>
		</ul>
		<ul>
			<li class="number">2</li>
			<li class="comment">3</li>
			<li class="subject">測試留言也可以很長很長很長很長很長很長很長很長很長很長很長很長很長很長很長很長很長</li>
			<li class="author">Banana</li>
			<li class="data">2015/1/6</li>
		</ul>
		<ul>
			<li class="number">3</li>
			<li class="comment">5</li>
			<li class="subject">測試留言</li>
			<li class="author">Lemon</li>
			<li class="data">2015/1/6</li>
		</ul>
		<ul>
			<li class="number">4</li>
			<li class="comment">11</li>
			<li class="subject">測試留言</li>
			<li class="author">Orange</li>
			<li class="data">2015/1/6</li>
		</ul>
	</div>
	<div class='footer'>
		<div class='innerfooter'><span class='footertext'>Copyright © 2014	Forgotten Empires LLC All Rights Reserved.</span></div>
	</div>
</body>
</html>