.buildingframe{
	position:relative;
	margin:0 auto 0 auto;
	top:100px;
	width:74%;
	height:550px;
	background-image: url('../images/forum_index.png');
}
.buildingframe img{
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}
.buildingframe span{
	font-size: 20px;
	font-family: 微軟正黑體;
	margin-left: 10%;
	color: #FFF;

}
.buildingtop{
	position:relative;
	top:10%;
	margin:0 auto 0 auto;
	*background-image: url('../images/forum_skill.png');
	height:100px; 
	width:150px;
}
.buildingleft{
	position:absolute;
	top:70%;
	left:15%;
	*background-image: url('../images/forum_problem.png');
	height:100px; 
	width:150px;
}
.buildingright{
	position:absolute;
	top:70%;
	right:15%;
	*background-image: url('../images/forum_play.png');
	height:100px; 
	width:150px;
}
.people{
	position:absolute;
	top:60%;
	left:48%;
}

.people>img{
	display:block;
	margin:0 auto 0 auto;
	width:52px;
	height:100px;

}
